[*.{cs,vb}]

dotnet_style_readonly_field = true:warning

csharp_prefer_braces = true:warning

dotnet_naming_rule.private_members_with_underscore.symbols  = private_fields
dotnet_naming_rule.private_members_with_underscore.style    = prefix_underscore
dotnet_naming_rule.private_members_with_underscore.severity = suggestion

dotnet_naming_symbols.private_fields.applicable_kinds           = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private

dotnet_naming_style.prefix_underscore.capitalization = camel_case
dotnet_naming_style.prefix_underscore.required_prefix = _

dotnet_analyzer_diagnostic.category-Performance.severity = suggestion

indent_style=space
tab_width=4
indent_size=4

# CS8618: Non-nullable field must contain a non-null value when exiting constructor. Consider declaring as nullable.
dotnet_diagnostic.CS8618.severity = error

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none

dotnet_diagnostic.IDE0011.severity = suggestion
dotnet_diagnostic.IDE0004.severity = suggestion

# CA2017: Parameter count mismatch
dotnet_diagnostic.CA2017.severity = error
