<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <settings>
      <setting name="SitecoreMvcOtel.ServiceName" value="sitecore-cm" role:require="Standalone or ContentManagement" />
      <setting name="SitecoreMvcOtel.ServiceName" value="sitecore-cd" role:require="ContentDelivery" />
      <setting name="SitecoreMvcOtel.Exporter.EndpointUri" value="http://aspire-dashboard:18889" />
      <setting name="SitecoreMvcOtel.Exporter.Protocol" value="grpc" />
      <setting name="SitecoreMvcOtel.Traces.UseAlwaysOnSampler" value="true" />
      <setting name="SitecoreMvcOtel.Instrumentation.UseSqlClientInstrumentation" value="true" />
    </settings>
    
    <pipelines>
      <httpRequestBegin>
        <processor type="SitecoreMvcOtel.Pipelines.DecorateActivityProcessor, SitecoreMvcOtel" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" resolve="true" />
      </httpRequestBegin>
    </pipelines>

    <services>
      <configurator patch:before="*[1]" type= "SitecoreMvcOtel.ServiceConfigurator, SitecoreMvcOtel" />
    </services>

    <log4net>
      <appender name="LogFileAppender">
        <patch:delete />
      </appender>
      <appender name="LogFileAppender">
        <patch:attribute name="type">SitecoreMvcOtel.Logging.MsForwardingAppender, SitecoreMvcOtel</patch:attribute>
        <category value="system" />
      </appender>

      <appender name="PublishingLogFileAppender">
        <patch:delete />
      </appender>
      <appender name="PublishingLogFileAppender">
        <patch:attribute name="type">SitecoreMvcOtel.Logging.MsForwardingAppender, SitecoreMvcOtel</patch:attribute>
        <category value="publish" />
      </appender>

      <appender name="ClientLogAppender">
        <patch:delete />
      </appender>
      <appender name="ClientLogAppender">
        <patch:attribute name="type">SitecoreMvcOtel.Logging.MsForwardingAppender, SitecoreMvcOtel</patch:attribute>
        <category value="client" />
      </appender>

      <appender name="SearchLogFileAppender">
        <patch:delete />
      </appender>
      <appender name="SearchLogFileAppender">
        <patch:attribute name="type">SitecoreMvcOtel.Logging.MsForwardingAppender, SitecoreMvcOtel</patch:attribute>
        <category value="search" />
      </appender>

      <appender name="CrawlingLogFileAppender">
        <patch:delete />
      </appender>
      <appender name="CrawlingLogFileAppender">
        <patch:attribute name="type">SitecoreMvcOtel.Logging.MsForwardingAppender, SitecoreMvcOtel</patch:attribute>
        <category value="crawl" />
      </appender>

      <appender name="OwinLogFileAppender">
        <patch:delete />
      </appender>
      <appender name="OwinLogFileAppender">
        <patch:attribute name="type">SitecoreMvcOtel.Logging.MsForwardingAppender, SitecoreMvcOtel</patch:attribute>
        <category value="owin" />
      </appender>
    </log4net>
  </sitecore>
</configuration>